<div class="hero-form">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm">
    <div class="form-group">
      <label class="form-control-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" required [(ngModel)]="model.name" name="name" />

      <label class="form-control-label" for="alter-ego">Alter Ego</label>
      <input class="form-control" id="alter-ego" type="text" required [(ngModel)]="model.alterEgo" name="alter-ego" />

      <label class="form-control-label" for="power">Hero Power</label>
      <select class="form-control" id="power" required>
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>

      <button type="button" (click)="goBack()">go back</button>
    </div>
  </form>
</div>
